<!-- Header -->
<%- include('layouts/header') %>
<!-- Nav -->
<%- include('layouts/nav') %>
<h1>Ini Halaman About</h1>
<div class="container about-me">
  <div class="row text-center">
    <div class="col">
      <img src="../img/img.jpg" alt="" />
    </div>
    <div class="col">
      <h1>Shidqi</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        cupiditate laudantium nisi itaque a. Totam temporibus facere eius
        inventore fugiat doloribus unde voluptatem magnam excepturi! Impedit
        provident rem explicabo vero?
      </p>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
