<!-- Header -->
<%- include('layouts/header') %>
<!-- Nav -->
<%- include('layouts/nav') %>
<div class="container">
  <h1>Hola World!</h1>
  <ul>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
  </ul>
  <h1>This is <%= nama %></h1>
</div>
<!-- Footer -->
<%- include('layouts/footer') %>
