<!-- Header -->
<%- include('./layouts/header') %>
<!-- Content -->
<div class="row">
  <div class="col-md-4 text-center">
    <h1>Home Page</h1>
    <a href="/register" class="btn btn-success">Register</a>
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
</div>
<!-- Footer -->
<%- include('./layouts/footer') %>
