<!-- Header -->
<%- include('./layouts/header') %>
<!-- Navbar -->
<%- include('./layouts/nav') %>
<!-- Content -->
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-6 dashboard-text-big">
      <h1>Lorem Ipsum</h1>
    </div>
    <div class="col-lg-6 dashboard-text">
      <h5 class="mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor expedita
        soluta suscipit aliquam minima nulla, dolore praesentium, eveniet
        incidunt hic, asperiores tempore sit quam veritatis fuga omnis eum quod
        accusantium!
      </h5>
      <h4>- Lorem Ipsum</h4>
    </div>
  </div>
</div>
<!-- Footer -->
<%- include('./layouts/footer') %>
