<!-- Header -->
<%- include('./layouts/header') %>
<!-- Navbar -->
<%- include('./layouts/nav') %>
<!-- Content -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-5 form-body">
    <h1 class="text-center">Login</h1>
    <form method="post" action="/api/auth/login">
      <div class="mb-3">
        <label for="inputPassword5" class="form-label">Username</label>
        <input type="text" id="username" name="username" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="inputPassword5" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
        />
      </div>
      <div class="mb-3 kolom-tombol">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register">Register Now</a>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
<!-- Footer -->
<%- include('./layouts/footer') %>
