<!-- Header -->
<%- include('./layouts/header') %>
<!-- Content -->
<div class="container">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-md-6">
      <% if (msg.length !== 0) { %>
      <div class="alert alert-danger" role="alert"><%= msg %></div>
      <% } %>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4"></div>
    <div class="col-md-4 form-body">
      <h1 class="text-center">Login</h1>
      <form class="login-form" method="POST" action="/login/auth">
        <div class="mb-3">
          <label for="inputPassword5" class="form-label">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="inputPassword5" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
        </div>
        <div class="mb-3 kolom-tombol">
          <button type="submit" class="btn btn-primary login-submit">
            Login
          </button>
          <a href="/">Register Now</a>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- Footer -->
<%- include('./layouts/footer') %>
