<!-- Header -->
<%- include('./layouts/header') %>
<!-- Content -->
<div class="row">
  <div class="col-md-4">
    <h1 class="text-center">Users</h1>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.username %></li>
      <% }) %>
    </ul>
  </div>
</div>
<!-- Footer -->
<%- include('./layouts/footer') %>
