<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Nav -->
     <%- include('layouts/nav') %>

    <div class="container">
      <h1>Hola World!</h1>
      <ul>
        <li>Uno</li>
        <li>Dos</li>
        <li>Tres</li>
      </ul>
      <h1>This is <%= nama %></h1>
    </div>
  </body>
</html>
