<nav class="navbar navbar-expand-*" data-bs-theme="dark">
  <!-- HeadApp -->
  <div class="container-fluid">
    <!-- Left Side -->
    <div class="left-side">
      <!-- Head Left -->
      <button
        class="navbar-toggler"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar-left"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <!-- Navbrand -->
      <a class="navbar-brand p-2" href="/home">Lorem Ipsum</a>

      <!-- Left Offcanvas Content -->
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar-left"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lorem Ipsum</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a
                class="nav-link <%= activePage == 'home' ? 'active' : '' %>"
                aria-current="page"
                href="/home"
                ><i class="fa fa-home" aria-hidden="true"></i>Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= activePage == 'about' ? 'active' : '' %>"
                href="#"
                ><i class="fa fa-info-circle" aria-hidden="true"></i>About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link <%= activePage == 'users' ? 'active' : '' %>"
                href="/users"
                ><i class="fa fa-users" aria-hidden="true"></i>Users</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of Left Side -->

    <!-- Right Side -->
    <div class="right-side">
      <!-- Right Head -->
      <button
        class="navbar-toggler"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar-right"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <img
          class="rounded-circle"
          src="/img/employee.png"
          alt="img"
          width="30"
        />
      </button>

      <!-- Right Offcanvas Content -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar-right"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <img
            class="offcanvas-img"
            src="/img/employee.png"
            alt=""
            width="30"
          />
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <%= loggedUser.username %>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa fa-user-o" aria-hidden="true"></i>Your Profile</a
              >
            </li>
            <li class="nav-item">
              <form method="POST" action="/login/logout">
                <button type="submit" class="nav-link">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of Head Right -->
  </div>
  <!-- End of HeadApp -->
</nav>
